body {
    font-family: 'Courier New', monospace;
    font-size: 14px;
  }
  
  body p {
    margin: 0;
    padding: 0;
  }
  
  .textStyle1 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  button#startBtn {
    width: 10rem;
    padding: 0.7rem;
  }
  
  .title {
    font-weight: bold;
    color: blueviolet;
    margin: 2rem 0 0 0;
  }
  
  .mContainer {
    height: 15rem;
  }
  
  .areaStyle1 {
    width: 20%;
  }
  
  #container {
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
  }
  
  button#dropdownMenu1,
  button#dropdownMenu2 {
    width: 100%;
  }
  
  .displayNone {
    display: none;
  }
  
  p#work {
    font-size: 2rem;
  }
  p#timer {
    font-size: 4rem;
  }
  
  button#stopBtn,
  button#cancelBtn {
    width: 8rem;
    margin: 1rem;
  }
  
  h3 span {
    font-size: 3rem;
  }
  
  /* スマホ定義 */
  @media screen and (max-width: 600px) {
    .flexFill {
      flex: 1 1 auto;
    }
  }